<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) Microsoft. All rights reserved.
Licensed under the MIT license. See LICENSE file in the project root for full license information.-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*"
           Name="Accessibility Screenshots" Language="1033" Version="1.0.0" 
           Manufacturer="Microsoft" 
           UpgradeCode="6E4641F6-B297-4F9E-8C44-7A9069B99E88">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86"/>
    <MajorUpgrade Schedule="afterInstallInitialize" RemoveFeatures="All"
                  AllowDowngrades="no"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." 
                  AllowSameVersionUpgrades="no"/>
    <UI>
      <UIRef Id="WixUI_InstallDir"/>
      <Publish Dialog="ExitDialog"
            Control="Finish"
            Event="DoAction"
            Value="LaunchInstalledExe">NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <WixVariable Id="WixUIDialogBmp" Value="Resources\DialogBackground.png" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\WixDialogBanner.png" />
    <WixVariable Id="WixUILicenseRtf" Value="..\AccessibilityInsights\bin\Release\eula.rtf" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Accessibility Screenshots" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!--Until WIX_IS_NETFRAMEWORK_47_OR_LATER_INSTALLED property is supported,
    this is our workaround as suggested here: https://github.com/wixtoolset/issues/issues/5575 -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="[ProductName] requires .NET Framework 4.7.1 or later.">
      <![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 >= "#461308")]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="AccessibilityScreenshotsFolder" Name="AccessibilityScreenshots" >
          <Directory Id="INSTALLFOLDER" Name="1.1">
            <Component Id="ProductComponent" Guid="74B7F5EF-5CEE-4DC9-9A99-8C134F0EFEE3">
              <File Id="FileExe" Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.exe" >
                <Shortcut Id="screenshots" Directory="DesktopFolder" Name="Accessibility Screenshots"
                          Description="Accessibility Screenshots" WorkingDirectory='INSTALLFOLDER' Icon="AccessibilityInsights.exe" IconIndex="0" Advertise="yes" />
              </File>
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.exe.config" />
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.CommonUxComponents.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.Extensions.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.SetupLibrary.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.SharedUx.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.SharedUx.dll.config" />
              <File Source="..\AccessibilityInsights\bin\Release\AccessibilityInsights.Win32.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.Actions.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.Core.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.Desktop.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.Rules.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.RuleSelection.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.Telemetry.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Axe.Windows.Win32.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\CommandLine.dll"/>
              <File Source="..\AccessibilityInsights\bin\Release\Microsoft.Deployment.WindowsInstaller.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\Newtonsoft.Json.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\System.ValueTuple.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\System.Windows.Interactivity.dll" />
              <File Source="..\AccessibilityInsights\bin\Release\ThirdPartyNotices.html"/>
              <File Source="..\AccessibilityInsights\bin\Release\eula.rtf"/>
              <File Source="..\AccessibilityInsights\bin\Release\links.json"/>

            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="AccessibilityScreenshots"/>
      </Directory>
    </Directory>

    <Icon Id="AccessibilityInsights.exe" SourceFile="..\AccessibilityInsights\bin\Release\AccessibilityInsights.exe" />

    <Property Id="WixShellExecTarget" Value="[#FileExe]"/>
    <CustomAction Id="LaunchInstalledExe" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action='LaunchInstalledExe' After='InstallFinalize'>NOT REMOVE and WIX_UPGRADE_DETECTED and NOT SECONDSEQUENCE</Custom>
    </InstallExecuteSequence>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="4B25DB8E-CEFD-42D8-AD0E-8B27E71D6B74">
        <Shortcut Id="ApplicationStartMenuShortcut"
           Name="Accessibility Screenshots"
           Description="Accessibility Screenshots"
           Target="[#FileExe]"
           WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\AccessibilityScreenshots" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
